<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8"/>
    <title th:text="${home.title}">블로그</title>
    <!-- CSS 경로를 Thymeleaf 방식으로 변경 -->
    <link rel="stylesheet" th:href="@{/css/blog.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<header class="gnb">
    <div class="gnb__inner">
        <div class="logo">블로그</div>
        <nav class="menu">
            <span sec:authorize="isAuthenticated()">안녕하세요,
                <b sec:authentication="name">사용자</b>님!
                <form th:action="@{/logout}" method="post" style="display:inline;">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <button type="submit"  class="link-btn">로그아웃</button>
                </form>
            </span>
            <span sec:authorize="isAnonymous()">
                <a href="/login">로그인</a>
            </span>
        </nav>
    </div>
</header>

<main class="container">
    <aside class="sidebar">
        <section class="profile card">
            <div class="avatar"></div>
            <div class="nick" th:text="${home.title}">사용자</div>
            <div>
                <h3>소개글</h3>
                <span class="introduce" th:text="${home.introduce_story}"></span>
            </div>
            <div class="today" th:text="${#temporals.format(T(java.time.LocalDate).now(), 'yyyy-MM-dd')}">Today ·
                2025-08-09
            </div>
        </section>

        <section class="category card">
            <h3>카테고리</h3>
            <ul class="cat-list">
                <li th:each="c : ${home.category}">
                    <a th:href="@{'/category/' + ${c}}">
                        <span th:text="${c}">전체보기</span>
                        <span class="count" th:text="${c}">0</span>
                    </a>
                </li>
            </ul>
        </section>

    </aside>

    <section class="content">
        <article class="card quote">
            <h3>오늘의 한 줄</h3>
            <p th:text="${home.todayComment}">
                영감 문구가 여기에 표시됩니다.
            </p>
        </article>

        <!-- 최근 글 목록 자리 -->
        <section class="card posts">
            <h3>작성한 글</h3>
            <ul class="posts-list">
                <li th:each="post : ${letters}">
                    <div th:text="${post.title}"></div>
                    <div th:text="${post.story}"></div>
                </li>
            </ul>
        </section>
    </section>
</main>

<footer class="footer">
    <div class="footer__inner">© 게시판프로젝트(개인)</div>
</footer>
</body>
</html>
